/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
    ========================================================================== */

/**
  * Remove the margin in all browsers.
  */

body {
  margin: 0;
}

/**
  * Render the `main` element consistently in IE.
  */

main {
  display: block;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */

/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
    ========================================================================== */

/**
  * Remove the gray background on active links in IE 10.
  */

a {
  background-color: transparent;
}

/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
    ========================================================================== */

/**
  * Remove the border on images inside links in IE 10.
  */

img {
  border-style: none;
}

/* Forms
    ========================================================================== */

/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input { /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select { /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */

progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */

textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
    ========================================================================== */

/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */

details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */

summary {
  display: list-item;
}

/* Misc
    ========================================================================== */

/**
  * Add the correct display in IE 10+.
  */

template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */

[hidden] {
  display: none;
}


/* ============================================ */
/*         CSS Reset and Root Variables         */
/* ============================================ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto","Arial", sans-serif;
  color: var(--bodyTextColorWhite);
  font-size: 100% ;
}

@media only screen and (min-width: 0em) {
body, html {
    margin: 0;
    padding: 0;
    font-size: 100% !important;
    font-family: "Roboto",Arial,sans-serif;
    color: var(--bodyTextColor);
    overflow-x: hidden;
}
}
html {
  background-color:   --medium #2c394b  ;
}

li, a, button, span {
  color: white;
  text-decoration: none;
}


/* @media only screen and (min-width: 0em) {
:root {
    --dark: #082032;
    --medium: #2c394b;
    --accent: #334756;

    
  --primary: #ffba19;
  --primaryLight: #ffd675;
  --secondary: #001f3f;
  --secondaryLight: #001f3f;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}
} */
:root {
  --dark: #082032;
  --medium: #2c394b;
  --accent: #334756;

  --primary: #ffba19;
  --primaryLight: #ffd675;
  --secondary: #001f3f;
  --secondaryLight: #001f3f;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}


/* ============================================ */
/*                 Navigation                   */
/* ============================================ */

/* NAVBAR */

#header {
  width: 100%;
  background-color: var(--dark);
  box-sizing: border-box;
  box-shadow: rgba(149,157,165,.2) 0px 8px 24px;
  position: fixed;
  z-index: 10000;
}


.navbar__container {
  background-color: var(--dark);
  color: var(--bodyTextColorWhite);
  /* display: flex;
  justify-content: space-around; 
  align-items: center;
  top: 0;
  width: 100%; */
  padding: 10px 20px;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.nav__logo {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: bold;
  cursor: pointer;
  color: var(--bodyTextColorWhite);
  margin-right: auto;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.nav__list li {
  margin: 0;
}

.nav__list .nav-item {
  color: white;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.nav__link {
  position: relative;
  padding-bottom: 0.25rem;
  display: inline-block;
  transition: color 0.3s ease;
}

.primary__button {
  background-color: var(--primary);
  color: #000 !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  position: relative;

}

.secondary__button {
  background-color: transparent;
  color: white;
  font-weight: bolder;
  padding: 14px 25px;
  margin-left: 20px;
  border: .5px solid white;
  cursor: pointer;
  position: relative;
  box-sizing: content-box !important;
  width: 8em;
}


.nav__sun {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.menu__box {
  display: none;
}


  /* NAV BUTTON ANIMATION */
.primary__button.button__slide::before,
.secondary__button.button__slide::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: black;
  border: solid black 1px;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.primary__button.button__slide,
.secondary__button.button__slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.primary__button.button__slide:hover::before,
.primary__button.button__slide:focus::before,
.secondary__button.button__slide:hover::before,
.secondary__button.button__slide:focus::before {
  transform: scaleX(1);
}

.primary__button.button__slide:hover,
.primary__button.button__slide:focus,
.secondary__button.button__slide:hover,
.secondary__button.button__slide:focus {
  color: var(--bodyTextColorWhite) !important;
}  


/* NAV LINK ANIMATION */
.nav__link.nav__link__underline::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--primaryLight);
  color: var(--primary);

  transition: transform 300ms ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

.nav__link.nav__link__underline:hover::before,
.nav__link.nav__link__underline:focus::before {
  transform: scaleX(1);
} 


/* nav hamburger animation */
.menu-button-container {
  display: none;
  height: 30PX;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 25px;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: '';
  margin-top: -6px;
}

.menu-button::after {
  content: '';
  margin-top: 6px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


/* MOBILE RESPONSIVE NAV */
@media screen and (max-width: 930px) {

  /* Hamburger Blur */
  #header::before {
    content: "";
    width: 0%;
    height: 100vh;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
    opacity: 0;
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    z-index: -11;
    transition: width .3s,opacity .3s;
  }
  
  
  #header.cs-active::before {
      width: 100%;
      opacity: 1;
  }

  /* MENU BUTTON ANIMATION */
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  /* NAV BAR RESPONSIVENESS*/
  .navbar__container {
    justify-content: space-between; 
    align-items: center;
  }

  .nav__list,
  .nav-item {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 60px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  .nav__list.active {
    transform: translateX(0);
  }

  .nav__list li {
    width: 100%;
    text-align: center;
  }

  /* MOBILE NAV MENU */
  html {
    overflow-x: hidden;
  }

  .hamburger-menu {
    height: 100%;
    width: auto;
    display: inline-block;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu__box {
    right: 0 !important;
  }

  .menu__box {
    display: inline-block;

    position: absolute;
    top: 86px;
    right: -100%;
    width: 200px;
    margin: 0;
    padding: 40px 0 65vh 0;
    list-style: none;
    background-color: var(--medium);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: -1 !important;

    text-align: right;
  }
  .menu__item {
    display: inline-block;
    box-sizing: border-box;
    margin: 12px 24px;
    color: var(--bodyTextColorWhite);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
    border-bottom: transparent solid 1px;
  }

  .menu__item:hover {
    border-bottom: var(--bodyTextColorWhite) solid 1px;
  }
}


/* ============================================   */
/*                  Landing                       */
/* ============================================   */

main {
  background-color: var(--dark);
}

@media only screen and (min-width: 0em) {
  #landing {
      font-family: "Roboto","Arial",sans-serif;
      text-align: center;
      padding: 0 1rem;
      padding-bottom: 6.25rem;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
}

@media only screen and (min-width: 48em) {
  #landing {
      padding: 0 clamp(2em,5vw,2.5em);
  }
}

@media only screen and (min-width: 81.25em) {
  #hero {
    background: url("../assets/images/landing-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 0em) {
  #landing .landing__container {
      width: 100%;
      max-width: 80em;
      padding: clamp(9em,25.95vw,17.5em) 0;
      margin: auto;
      position: relative;
  }
}

@media only screen and (min-width: 0em) {
  #landing .landing__container::before {
    content: "";
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}

@media only screen and (min-width: 48em) {
  #landing .landing__container::after {
    content: "";
    width: 1px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 48em) {
  #landing .landing__container {
    padding: clamp(7em,27.95vw,17.5em) 0 clamp(9em,30.95vw,23.5em) 0;
  }
}

@media only screen and (min-width: 0em) {
  #landing .landing__text__group {
    margin-bottom: clamp(3.75em,15.5vw,13.75em);
    margin: auto;
    width: 80vw;
    max-width: clamp(29em,60vw,35.125em);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 0em) {
#landing .cs-topper {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--primary);
}
}
@media only screen and (min-width: 0em) {
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--secondary);
    display: block;
}
}

@media only screen and (min-width: 0em) {
#landing .cs-title {
    text-align: center;
    width: 100%;
    color: var(--bodyTextColorWhite);
}
}
@media only screen and (min-width: 0em) {
.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
}
}

@media only screen and (min-width: 0em) {
#landing .cs-text {
    text-align: center;
    margin: 0 auto clamp(2rem,4vw,2.5rem) 0;
    margin-bottom: clamp(2.5rem,4vw,3rem);
    color: var(--bodyTextColorWhite);
}
}

@media only screen and (min-width: 0em) {
.cs-text { 
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    width: 100%;
    margin: 0 auto;

}
}

@media only screen and (min-width: 48em) {
#landing .cs-button-solid {
    margin-bottom: 0;
    margin-right: 1.25rem;
}
} 
@media only screen and (min-width: 0em){
#landing .cs-button-solid {
    line-height: clamp(2.875em,5.5vw,3.5em);
    height: initial;
    margin-bottom: 1rem;
}
}
@media only screen and (min-width: 0em) {
.cs-button-solid {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: auto;
    line-height: 3.125em;
    height: 3.125rem;
    text-align: center;
    padding: 0 1.875rem;
    position: relative;
    z-index: 1;
    background-color: var(--primary);
    color: #000;
    transition: color .3s;
    transition-delay: .1s;
}
}

@media only screen and (min-width: 0em) {
.cs-button-solid::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    width: 0;
    transition: width .3s;
}
}
/* 
.landing__button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: auto;
  line-height: 3.125em;
  height: 3.125rem;
  text-align: center;
  padding: 0 1.875rem;
  position: relative;
  z-index: 1;
  background-color: var(--primary);
  color: #000;
  transition: color .3s;
  transition-delay: .1s;
} */

@media only screen and (min-width: 0em) {
  #landing .cs-button-transparent {
    font-size: 1rem;
    line-height: clamp(2.875em,5.5vw,3.5em);
    width: 11.25rem;
    height: clamp(2.875em,5.5vw,3.5em);
    text-decoration: none;
    font-weight: 700;
    margin: 0 0.5rem;
    color: #fff;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--bodyTextColorWhite);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
}

@media only screen and (min-width: 0em) {
  #landing .picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
}

@media only screen and (min-width: 0em) {
#landing .picture::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }
}

@media only screen and (min-width: 0em) {
#landing .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}

/* ============================================   */
/*                  Services                      */
/* ============================================   */

@media only screen and (min-width: 0em) {
  #services {
      background: var(--medium);
  }
  }
  
  @media only screen and (min-width: 1300px) {
  .services {
      padding: 3.125em 5em;
  }
  }
  @media only screen and (min-width: 768px) {
  .services {
      font-size: min(1.8vw,1em);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 98% !important;
  }
  
  }
  @media only screen and (min-width: 0em) {
  .services {
      border-radius: 0.3125em;
      margin: auto;
      margin-top: -10.4375em;
      position: relative;
      z-index: 100;
      background: #fff;
      width: 90%;
      max-width: 82.5em;
      padding: 3.125em 1.25em;
      border-top: 0.375em solid var(--primary);
      box-shadow: 0px 20px 40px rgba(0,0,0,.05);
      margin-bottom: 3.125em;
  }
  }
  
  @media only screen and (min-width: 1300px) {
  .services .card {
      max-width: 22.3125em;
  }
  }
  @media only screen and (min-width: 768px) {
  .services .card {
      margin: 0;
      max-width: 20.3125em;
  }
  }
  @media only screen and (min-width: 0em) {
  .services .card {
      display: block;
      width: 100%;
      max-width: 22.3125em;
      margin: auto;
      margin-bottom: 3.125em;
      font-size: .9rem;
  }
  }
  
  
  @media only screen and (min-width: 0em) {
  #services svg {
      background: var(--primaryDark);
  }
  }
  
  
  
  @media only screen and (min-width: 0em) {
  .services .card svg {
      background: var(--primary);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-bottom: 1.4375em;
      width: 3em;
      height: 3em;
  }
  }
  
  @media only screen and (min-width: 0em) {
  #services h2 {
      color: #fff;
      font-weight: bold;
  } 
  }
  @media only screen and (min-width: 0em) {
  .services .card h2 {
      text-align: center;
      font-size: 2em;
      line-height: 27/20em;
      font-weight: 700;
      color: #1a1a1a;
      margin-bottom: 13/20em;
  }
  }
  
  @media only screen and (min-width: 0em) {
  .services .card p {
      text-align: center;
      line-height: 24/18em;
      width: 100%;
      opacity: .7;
      color: var(--bodyTextColorWhite);
  
  }
  }
  
  @media screen and (max-width: 500px) {
    .landing__text__group a {
      margin: 0;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 500px) {
    .landing__text__group a {
      margin: 0;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 440px) {
    .landing__text__group a {
      margin: 0 0 10px 0;
      font-size: 13px;
    }

 
  }
  
/* ============================================ */
/*                   About Us                   */
/* ============================================ */

@media only screen and (min-width: 0em) {
#about__us {
    padding: var(--sectionPadding);
}
}

@media only screen and (min-width: 64em) {
#about__us .about__us__container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
    flex-direction: row !important;

}
}

@media only screen and (min-width: 0em) {
#about__us .about__us__container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
}
}

@media only screen and (min-width: 64em) {
#about__us .about__us__left {
    font-size: min(1.1vw, 1em) !important;
    flex: none;
}
}
@media only screen and (min-width: 0em) {
#about__us .about__us__left {
  font-size: min(2.31vw, .8em);
  width: 39.4375em;
    height: 39.75em;
    position: relative;
}
}
@media only screen and (min-width: 0em) {
#about__us .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    left: 0;
    top: 0;
}
}
@media only screen and (min-width: 0em) {
 #about__us .cs-picture2 {
    background-color: var(--dark);
    border: clamp(0.375em,1.5vw,0.75em) solid var(--dark);
}
}
@media only screen and (min-width: 0em) {
#about__us .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0,0,0,.1) 0px 0px 40px;
    border: clamp(0.375em,1.5vw,0.75em) solid var(--dark);
    right: 0;
    bottom: 0;
}
}
@media only screen and (min-width: 0em) {
#about__us .cs-picture {
    border-radius: 1.5em;
    overflow: hidden;
    position: absolute;
    display: block;
}
}
@media only screen and (min-width: 0em) {
#about__us .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}

/* RIGHT SIDE */
@media only screen and (min-width: 64em){
#about__us .about__us__right {
    margin: 0;
}
}

@media only screen and (min-width: 0em){
#about__us .about__us__right {
    margin: auto;
    max-width: 30.875rem;
}
}

@media only screen and (min-width: 0em){
 #about__us .cs-topper {
    color: var(--primaryLight);
}
}

@media only screen and (min-width: 0em){
#about__us .cs-topper {
    text-align: left;
    margin-bottom: 0.25rem;
}
}

@media only screen and (min-width: 0em){
.cs-topper {
    font-size: 1rem;;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--secondary);
    display: block;
}
}

@media only screen and (min-width: 0em){
 #about__us .cs-title,  #about__us .cs-text,  #about__us .cs-h3,  #about__us .cs-flex-p,  #about__us .cs-name {
    color: var(--bodyTextColorWhite);
}
}
@media only screen and (min-width: 0em){
#about__us .cs-title {
    text-align: left;
    max-width: 50rem;
}
}
@media only screen and (min-width: 0em){
.cs-title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
}
}
@media only screen and (min-width: 0em){
#about__us .cs-text {
    text-align: left;
    max-width: 46.875rem;
    margin-bottom: 1rem;
}
}
@media only screen and (min-width: 0em){
.cs-text {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    width: 100%;
    margin: 0 auto;
}
}
@media only screen and (min-width: 0em){
#about__us .cs-text:last-of-type {
    margin-bottom: 2rem;
}
}
@media only screen and (min-width: 0em){
 #about__us .cs-flex-group {
    background-color: var(--accent);

}
}
@media only screen and (min-width: 0em){
#about__us .cs-flex-group {
    padding: clamp(1rem,3vw,2rem);
    border-radius: 1rem;
    position: relative;
}
}

@media only screen and (min-width: 0em){
#about__us .cs-flex-p {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
}
}
@media only screen and (min-width: 0em){
#about__us .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--bodyTextColorWhite);
    display: block;
}
}
@media only screen and (min-width: 0em){
 #about__us .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
}
}
@media only screen and (min-width: 0em){
#about__us .cs-job {
    font-size: .9rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    display: block;
}
}

@media only screen and (min-width: 0em){
 #about__us .cs-quote-icon {
    opacity: .2;
}
}
@media only screen and (min-width: 0em){
#about__us .cs-quote-icon {
    width: clamp(3.75rem,10vw,8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    right: clamp(1rem,4vw,2rem);
}
}

@media only screen and (min-width: 0em) {
#about__us .primary__button {
    margin-top: 2rem;
    font-size: .9rem;
}
}


/* ============================================  */
/*                    SEO                        */
/* ============================================  */

/* Main */
@media only screen and (min-width: 0em) {
#SEO {
    padding: var(--sectionPadding);
}
}
@media only screen and (min-width: 64em) {
#SEO .SEO__container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
    flex-direction: row !important;

}
}
@media only screen and (min-width: 0em) {
#SEO .SEO__container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
}
}
/* Left */
@media only screen and (min-width: 64em){
#SEO .cs-left {
  font-size: min(1.1vw, 1em) !important;
  flex: none;
    order: 2;
}
}
@media only screen and (min-width: 0em){
#SEO .cs-left {
    font-size: min(2.31vw, .8em);

    width: 39.4375em;
    height: 39.75em;
    position: relative;
}
}

/* Image */
@media only screen and (min-width: 0em) {
#SEO .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    right: 0;
    top: 0;
}
}
@media only screen and (min-width: 0em) {
#SEO .cs-picture {
    border-radius: 1.5em;
    overflow: hidden;
    position: absolute;
    display: block;
}
}
@media only screen and (min-width: 0em) {
#SEO .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
}

@media only screen and (min-width: 0em) {
#SEO .cs-picture2 {
    background-color: var(--dark);
    border: clamp(0.375em,1.5vw,0.75em) solid var(--dark);
}
}
@media only screen and (min-width: 0em){
#SEO .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0,0,0,.1) 0px 0px 40px;
    border: clamp(0.375em,1.5vw,0.75em) solid var(--dark);
    left: 0;
    bottom: 0;
}
}
/* Right */
@media only screen and (min-width: 64em){
#SEO .cs-right {
    margin: 0;
}
}
@media only screen and (min-width: 0em){
#SEO .cs-right {
    margin: auto;
    max-width: 30.875rem;
}
}

@media only screen and (min-width: 0em){
#SEO .cs-topper {
    color: var(--primaryLight);
}
}
@media only screen and (min-width: 0em){
#SEO .cs-topper {
    text-align: left;
    margin-bottom: 0.25rem;
}
}

@media only screen and (min-width: 0em) {
 #SEO .cs-title,  #SEO .cs-text,  #SEO .cs-h3,  #SEO .cs-flex-p,  #SEO .cs-name {
    color: var(--bodyTextColorWhite);
}
}
@media only screen and (min-width: 0em) {
#SEO .cs-title {
    text-align: left;
    max-width: 50rem;
}
}
@media only screen and (min-width: 0em) {
#SEO .cs-text {
    text-align: left;
    max-width: 46.875rem;
    margin-bottom: 1rem;
}
}
@media only screen and (min-width: 0em) {
#SEO .cs-text:last-of-type {
    margin-bottom: 2rem;
}
}

@media only screen and (min-width: 0em) {
  #SEO .cs-text {
    font-size: 1rem;
  }
  }
/* ============================================  */
/*                  Footer                       */
/* ============================================  */

/* FOOTER LAYOUT */
.footer {
  background-color: #061623;
  padding: 80px 0 20px 0
}

.footer__logo {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: var(--bodyTextColorWhite);
  padding-left: .88em;
}

.container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 96%;
  max-width: 82.5rem;
  margin: auto;
  padding: 0;
}

.right-section-footer {
  margin: 0;
  width: 38.0625rem;
  max-width: none;
}

.left-section-footer {
  width: 25.5625rem;
  margin: 0;
  text-align: left;
}

.lists-footer {
  width: 96%;
  max-width: 48.0625rem;
  margin: 0;
  max-width: initial;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lists-footer::before::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lists-footer li {
  list-style: none;
  margin: .6em 0 .6em 0;
}


/* CREDIT FOOTER */
.credit-footer{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.credit-footer span{
  padding: 0px 5px 0px 5px;
  color:#fafbfc;
}

.credit-footer a{
  color: var(--primary)
}

.credit-footer a:hover{
  color: var(--primary);
  text-decoration: underline;
}

/* FOOTER TITLE */

.h2-footer {
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  font-size: 1.125rem;
  line-height: 21/18em;
  margin-bottom: 2.3125rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}


.h2-footer::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.125rem;
  width: 6.0625rem;
  background: var(--primary);
  opacity: 1;
  bottom: -1rem;
  left: 0;
}


/* FOOTER LINK ANIMATION */
.lists-footer ul a{
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
  transition: .3s ease-in;
  
}

.lists-footer a:hover{
  color: var(--primary);
  
}

.footer__link_.footer__link__underline::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--primary);
  transition: transform 300ms ease-in-out;
  transform-origin: left;

  transform: scaleX(0);
}

.footer__link_.footer__link__underline:hover::before,
.footer__link_.footer__link__underline:focus::before {
  transform: scaleX(1);
} 


@media screen and (max-width: 930px) {
  .container-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: visible;
  }

  .left-section-footer {
    width: 0;
  }
  .footer__logo {
    padding-left: 0;
    display: inline-block;
  }
}